@model DogGo.Models.ViewModels.WalkerProfileViewModel;

@{
    ViewData["Title"] = "Details";
}
<div>
    <h1 class="mb-4">@Model.Walker.Name</h1>

    <section class="container">
        <img style="width:100px;float:left;margin-right:20px"
             src=@Model.Walker.ImageUrl />
        <div>
            <label class="font-weight-bold">Neighborhood:</label>
            <span>@Model.Walker.Neighborhood.Name</span>
        </div>
    </section>

    <hr class="mt-5" />
    <div class="clearfix"></div>

    <div class="row">
        <section class="col-8 container mt-5">
            <h1 class="text-left">Recent Walks</h1>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Client</th>
                    <th>Duration</th>
                </tr>
                @foreach (Walk walk in Model.RecentWalks)
                {
                    <tr>
                        <td>@walk.Date.ToString("MM/dd/yyyy")</td>
                        <td>@walk.Owner.Name</td>
                        <td>@{
                                double seconds = walk.Duration;
                                double minutes = seconds / 60.0;
                                @Math.Floor(minutes)    
                        } min</td>
                    </tr>
                }
            </table>
        </section>

        <section class="col-lg-4 col-md-8 container mt-5">
            <h1>Total Walk Time</h1>
            <h2>@{
                    double totalWalkTime = 0; 
                    foreach (Walk walk in Model.RecentWalks)
                    {
                        double seconds = walk.Duration;
                        double minutes = seconds / 60.0;
                        totalWalkTime += minutes;
                    }
                    @Math.Floor(totalWalkTime)
                } min</h2>
        </section>
    </div>
</div>